@font-face {
    font-family: 'pacifico';
    src: url(Pacifico.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;

}
p.userName {
    font-family: pacifico;
    position: absolute;
    top: 30%;
    left: 30%;
    font-size: 200%;
}

.banner {
    position: absolute;
    top: 5%;
    left: 30px;
    right: 0px;
    width: 25%;
    height: 200px;
    opacity: 3;
    z-index: -1;
}
.bannerImg {
    position: absolute;
    top: 5%;
    left: 10px;
    width: 98%;
    height: 200px;
    opacity: .1;
    z-index: -1;
}
.textbox {
    padding: 1px 20px;
    border: 0;
    position: absolute;
    top: 40%;
    left: 35%;
    height: 25px;
    width: 275px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    box-shadow: 1px 1px 0 0 #FFF, 5px 5px 40px 2px #BBB inset;
    -moz-box-shadow: 1px 1px 0 0 #FFF, 5px 5px 40px 2px #BBB inset;
    -webkit-box-shadow: 1px 1px 0 0 #FFF, 5px 5px 40px 2px #BBB inset;
    -webkit-background-clip: padding-box;
    outline: 0;
}
input[type=checkbox].css-checkbox {
    position:absolute; 
    z-index:-1000; 
    left:-1000px; 
    overflow: hidden; 
    clip: rect(0 0 0 0); 
    height:1px; 
    width:1px; 
    margin:-1px;
    padding:0; 
    border:0;
}

input[type=checkbox].css-checkbox + label.css-label {
    padding-left:54px;
    height:48px; 
    display:inline-block;
    line-height:48px;
    background-repeat:no-repeat;
    background-position: 0 0;
    font-size:20px;
    vertical-align:middle;
    cursor:pointer;

}

input[type=checkbox].css-checkbox:checked + label.css-label {
    background-position: 0 -48px;
}
label.css-label {
    background-image:url(http://csscheckbox.com/checkboxes/u/csscheckbox_8852caa1a39c46320300a4ae012872d8.png);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#overlay {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background: #000;
    opacity: 0.8;
    filter: alpha(opacity=80);
}
#loading {
    width: 50px;
    height: 57px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -28px 0 0 -25px;
}

.TopListForm {
    
    position: absolute;
}

.ArtistOptions {
    position: absolute;
    top:60%;
    left: 20%;
}

.regularText {
    font-family: pacifico;
    font-size: 150%;
}

.imgClass { 
background-image: url(Images/greenbutton.png);
background-size: 100%;
background-position:  0px 0px;
background-repeat: no-repeat;
position: absolute;
top: 75%;
left: 50%;
width: 100px;
height: 100px;
border: 0px;
cursor: pointer;
outline: 0;
}


.panel,.flip{
    display: inline-block;
   width: 100%;
   height: 100px;
   vertical-align: top;
   text-align: center;
}
.panel
{
text-align: left;
position: relative;
width: 90%;
height: auto;
display:none;
word-wrap:break-word
}

.resultSection {
    font-family: pacifico;
    font-size: 350%;
    position:absolute;
    left: 50%;    
}

.purchaseButton{text-decoration:none; text-align:center; 
 padding:11px 32px; 
 border:solid 1px #5b6569; 
 -webkit-border-radius:4px;
 -moz-border-radius:4px; 
 border-radius: 4px; 
 font:18px Arial, Helvetica, sans-serif; 
 font-weight:bold; 
 color:#e5ffff; 
 background-color:#57b02a; 
 background-image: -moz-linear-gradient(top, #57b02a 0%, #4da123 100%); 
 background-image: -webkit-linear-gradient(top, #57b02a 0%, #4da123 100%); 
 background-image: -o-linear-gradient(top, #57b02a 0%, #4da123 100%); 
 background-image: -ms-linear-gradient(top, #57b02a 0% ,#4da123 100%); 
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4da123', endColorstr='#4da123',GradientType=0 ); 
 background-image: linear-gradient(top, #57b02a 0% ,#4da123 100%);   
 -webkit-box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff; 
 -moz-box-shadow: 0px 0px 2px #bababa,  inset 0px 0px 1px #ffffff;  
 box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;  
  
  }.purchaseButton:hover{
 padding:11px 32px; 
 border:solid 1px #004F72; 
 -webkit-border-radius:4px;
 -moz-border-radius:4px; 
 border-radius: 4px; 
 font:18px Arial, Helvetica, sans-serif; 
 font-weight:bold; 
 color:#e5ffff; 
 background-color:#2c7a05; 
 background-image: -moz-linear-gradient(top, #2c7a05 0%, #2d7a06 100%); 
 background-image: -webkit-linear-gradient(top, #2c7a05 0%, #2d7a06 100%); 
 background-image: -o-linear-gradient(top, #2c7a05 0%, #2d7a06 100%); 
 background-image: -ms-linear-gradient(top, #2c7a05 0% ,#2d7a06 100%); 
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2d7a06', endColorstr='#2d7a06',GradientType=0 ); 
 background-image: linear-gradient(top, #2c7a05 0% ,#2d7a06 100%);   
 -webkit-box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff; 
 -moz-box-shadow: 0px 0px 2px #bababa,  inset 0px 0px 1px #ffffff;  
 box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;  
  
 }.purchaseButton:active{
 padding:11px 32px; 
 border:solid 1px #005072; 
 -webkit-border-radius:4px;
 -moz-border-radius:4px; 
 border-radius: 4px; 
 font:18px Arial, Helvetica, sans-serif; 
 font-weight:bold; 
 color:#e5ffff; 
 background-color:#57b02a; 
 background-image: -moz-linear-gradient(top, #57b02a 0%, #4da123 100%); 
 background-image: -webkit-linear-gradient(top, #57b02a 0%, #4da123 100%); 
 background-image: -o-linear-gradient(top, #57b02a 0%, #4da123 100%); 
 background-image: -ms-linear-gradient(top, #57b02a 0% ,#4da123 100%); 
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4da123', endColorstr='#4da123',GradientType=0 ); 
 background-image: linear-gradient(top, #57b02a 0% ,#4da123 100%);   
 -webkit-box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff; 
 -moz-box-shadow: 0px 0px 2px #bababa,  inset 0px 0px 1px #ffffff;  
 box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;  
  
 }
.myButton {
	-moz-box-shadow: 0px 0px 0px 2px #3e7327;
	-webkit-box-shadow: 0px 0px 0px 2px #3e7327;
	box-shadow: 0px 0px 0px 2px #3e7327;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #57b02a), color-stop(1, #72b352));
	background:-moz-linear-gradient(top, #57b02a 5%, #72b352 100%);
	background:-webkit-linear-gradient(top, #57b02a 5%, #72b352 100%);
	background:-o-linear-gradient(top, #57b02a 5%, #72b352 100%);
	background:-ms-linear-gradient(top, #57b02a 5%, #72b352 100%);
	background:linear-gradient(to bottom, #57b02a 5%, #72b352 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#57b02a', endColorstr='#72b352',GradientType=0);
	background-color:#57b02a;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	border:1px solid #4b8f29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:pacifico;
	font-size:19px;
    
	text-decoration:none;
	text-shadow:0px 1px 0px #5b8a3c;
}
.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #72b352), color-stop(1, #57b02a));
	background:-moz-linear-gradient(top, #72b352 5%, #57b02a 100%);
	background:-webkit-linear-gradient(top, #72b352 5%, #57b02a 100%);
	background:-o-linear-gradient(top, #72b352 5%, #57b02a 100%);
	background:-ms-linear-gradient(top, #72b352 5%, #57b02a 100%);
	background:linear-gradient(to bottom, #72b352 5%, #57b02a 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#72b352', endColorstr='#57b02a',GradientType=0);
	background-color:#72b352;
}
.myButton:active {
	position:relative;
	top:1px;
}

.row {
  position:absolute;
    width:100%;
    top:30%;
    overflow-y:scroll;
    padding-bottom: 50mm;
}

.block {
  
  width: 17%;
  display: inline-table !important; // display inline with abality to provide width/height
}
